.cart-section {
    padding: 1rem;
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 2rem;
    max-width: 700px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.cart-section h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.8rem;
}

